.element__desc-like {
  background-color: white;
  background-image: url(../../../../images/Vector-heart.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 20px;
  border: none;
  margin-left: 35px;
}

.element__desc-like:hover {
  opacity: 0.2;
}