.profile__button-wrap {
  align-self: center;
  width: 24px;
  height: 24px;
  
}

.profile__button-wrap:hover {

}

@media (max-width: 767px) {
  .profile__button-wrap {
    width: 18px;
    height: 18px;
  }
}